<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title><link rel="stylesheet" type="text/css" href="gulp_sass/build/css/app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Play&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <!--<link rel="stylesheet" type="text/css" href="../static/gulp_sass/build/css/app.css"> -->
</head>
<body>
  <header class="header">
      <div class="container flex-space">
      <a class="logo c-pointer" href="home.html">PC Labs</a>
      
        <form action="#" class="barra-container">
          <input class="barra-busqueda" type="text" name="busqueda" id="busqueda" placeholder="Buscar Productos">
          <input type="submit" value="🔍" class="lupa">
        </form>
      <div class="acciones flex-space">
        <div class="carro-container flex-space">
          <a class="h-logo" href="carrito.html">🛒  Carro</a>
        </div>

        <div class="login-container dropdown">
            <div class="dropdown-btn flex-space">
              <p class="h-logo" href="#">👤   Login</p>
              <div class="triangle"></div>
          </div>
          <div class="dropdown-content">
            <a href="login.html">Cliente</a>
            <a href="login_admin.html">Administrador</a>
          </div>
        </div>
      </div>

    </div>
    </header>
    <nav class="nav">
      <div class="container">
        <a href="categoria/procesadores.html" class="nav-link" >Procesadores</a>
        <a href="categoria/tarjetas_graficas.html" class="nav-link" >Tarjetas Graficas</a>
        <a href="categoria/memorias_ram.html" class="nav-link" >Memorias Ram</a>
        <a href="categoria/placas_madre.html" class="nav-link" >Placas Madre</a>
        <a href="categoria/fuentes_poder.html" class="nav-link" >Fuentes de Poder</a>
        <a href="categoria/gabinetes.html" class="nav-link" >Gabinetes</a>
    </div>
    </nav>
    <div class="container">
        <p class="page-name" >Home > Carro</p>
        <h1 class="title" >Tu Carrito</h1>

        <div class="flex-space align-top">
        <div class="listado-carro flex-space">
            <div class="producto-carro">
                <img src="" alt="" width="125px" height="125px">
                <div>
                    <p class="name-producto">CPU Intel i5 10400</p>
                    <div class="precios flex-space precios-carro">
                        <p class="precio-anterior">$1.290</p>
                        <p class="precio-actual">$990</p>
                    </div>
                    <div class="edit-cantidad flex-space">
                        <button class="btn-reset btn-edit">➖</button>
                        <input class="cantidad" type="number" name="cantidad" id="cantidad">
                        <button class="btn-reset btn-edit">➕</button>
                    </div>
                </div>
            </div>
            <div class="btn-agregar">
                <p class="nombre-agregar">REMOVER</p>
            </div>
        </div>

        <div class="area-cupon">
            <h2 class="title mg-2">Cupón de Descuento</h2>
            <input type="text" name="cupon" id="cupon" class="mg-2">
            <div class="btn-agregar desc-btn mg-2">
                <a class="nombre-agregar ">APLICAR</a>
            </div>
            <p class="mg-2">Resumen</p>
            <div class="flex-space row-resumen mg-2">
                <p>Precio (5 items)</p>
                <p>$11.789</p>
            </div>
            <div class="flex-space row-resumen mg-2">
                <p>Descuentos</p>
                <p>$0</p>
            </div>
            <div class="flex-space row-resumen mg-2">
                <p>Precio Total</p>
                <p>$11.789</p>
            </div>
            <div class="flex-space">
                <div class="btn-agregar desc-btn">
                    <a href="home.html" class="nombre-agregar ">VOLVER</a>
                </div>            
                <div class="btn-agregar desc-btn">
                    <a href="tipo_entrega.html	" class="nombre-agregar ">SIGUIENTE</a>
                </div>
            </div>


        </div>
    </div>

    </div>
      
    <footer class="footer">
      <div class="container flex-space f-start gap-column">
      <div class="icons">
          <p class="logo logo-f c-pointer">PC Labs</p>
          
          <div class="social-media">
            <div class="fb-container c-pointer">
              <img src="../static/img/icon_fb.svg" alt="" width="24px">
            </div>
            <div class="tw-container c-pointer">
              <img src="../static/img/icon_tw.svg" alt="" width="24px">

            </div>
            <div class="ig-container c-pointer">
              <img src="../static/img/icon_ig.svg" alt="" width="24px">
            </div>
          </div>

        </div>

        <div class="n-t-container f-column-l">
          <h3 class="f-title" >Nuestra tienda</h3>
          <a class="f-link underline" href="#">Trabaja con nosotros</a>
          <a class="f-link underline" href="#">Sobre nosotros</a>
          <a class="f-link underline" href="#">Contáctanos</a>
          <a class="f-link underline" href="#">Promociones</a>
          <a class="f-link underline" href="#">Admnistradores</a>
        </div>

        <div class="s-c-container f-column-l">
          <h3 class="f-title" >Servicio al Cliente</h3>
          <a class="f-link underline" href="#">Términos y condiciones</a>
          <a class="f-link underline" href="#">Cambios y devoluciones</a>
          <a class="f-link underline" href="#">Centro de ayuda</a>
        </div>

        <div class="c-container f-column-l">
          <h3 class="f-title" >Categorías</h3>
          <a class="f-link underline" href="categoria/procesadores.html">Procesadores</a>
          <a class="f-link underline" href="categoria/tarjetas_graficas.html">Tarjetas gráficas</a>
          <a class="f-link underline" href="categoria/memorias_ram.html">Memorias ram</a>
          <a class="f-link underline" href="categoria/fuentes_poder.html">Fuentes de poder</a>
          <a class="f-link underline" href="categoria/gabinetes.html">Gabinetes</a>
        </div>

        <div class="s-container f-column-l">
          <h3 class="f-title" >Suscríbete</h3>
          <p class="f-link"> Suscríbete a nuestro newletter, para que seas el primero en conocer nuestras nuevas ofertas y promociones</p>
          <div class="s-btn-container c-pointer">  
            <input class="input-s" type="email" name="email" id="email">
            <div class="btn-suscribirse">
              <p>Suscribirse</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <p class="copyright">Copyright © 2021 PC Labs. Todos los Derechos Reservados.</p>
      </div>
    </footer>
</body>
</html>