<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Productos</title>
  <!-- <link rel="stylesheet" type="text/css" href="gulp_sass/build/css/app.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Play&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/gulp_sass/build/css/app.css">
</head>
<body>
  <header class="header">
      <div class="container flex-space">
      <p class="logo">PC Labs</p>
      
      <div class="barra-container">
        <input class="barra-busqueda" type="text" name="busqueda" id="busqueda">
      </div>

      <div class="acciones flex-space">
        <div class="carro-container flex-space">
          <p>🛒</p>
          <a class="h-logo" href="#">Carro</a>
        </div>
        <div class="login-container flex-space">
          <p>👤</p>
          <a class="h-logo" href="#">Login</a>
        </div>
      </div>

    </div>
    </header>
    <nav class="nav">
      <div class="container">
      <a href="#" class="nav-link" >Procesadores</a>
      <a href="#" class="nav-link" >Tarjetas Graficas</a>
      <a href="#" class="nav-link" >Memorias Ram</a>
      <a href="#" class="nav-link" >Placas Madre</a>
      <a href="#" class="nav-link" >Fuentes de Poder</a>
      <a href="#" class="nav-link" >Gabinetes</a>
    </div>
    </nav>
    <div class="container">
      <p class="page-name" >Home</p>
      
      <h1 class="title" >Productos</h1>

      <div class="grid-productos">
      <div class="producto-container">
        <div class="descuento-container">
          <p class="descuento">-20%</p>
        </div>
        <div class="img-container">
            <img src="" alt="" width="150px" height="150px">
        </div>
        <div class="info">
          <h2 class="nombre-producto" >Cpu Intel i3 8100</h2>
          <p class="tipo-categoria">Procesadores</p>
            <div class="pb-container flex-space">
              <div class="precios flex-space ">
                <p class="precio-anterior">$1.290</p>
                <p class="precio-actual">$990</p>
              </div>
              <div class="btn-agregar">
                <p class="nombre-agregar">🛒 Agregar</p>
              </div>
            </div>
        </div>
      </div>

      <div class="producto-container">
        <div class="descuento-container">
          <p class="descuento">-20%</p>
        </div>
        <div class="img-container">
            <img src="" alt="" width="150px" height="150px">
        </div>
        <div class="info">
          <h2 class="nombre-producto" >Cpu Intel i3 8100</h2>
          <p class="tipo-categoria">Procesadores</p>
            <div class="pb-container flex-space">
              <div class="precios flex-space ">
                <p class="precio-anterior">$1.290</p>
                <p class="precio-actual">$990</p>
              </div>
              <div class="btn-agregar">
                <p class="nombre-agregar">🛒 Agregar</p>
              </div>
            </div>
        </div>
      </div>

      <div class="producto-container">
        <div class="descuento-container">
          <p class="descuento">-20%</p>
        </div>
        <div class="img-container">
            <img src="" alt="" width="150px" height="150px">
        </div>
        <div class="info">
          <h2 class="nombre-producto" >Cpu Intel i3 8100</h2>
          <p class="tipo-categoria">Procesadores</p>
            <div class="pb-container flex-space">
              <div class="precios flex-space ">
                <p class="precio-anterior">$1.290</p>
                <p class="precio-actual">$990</p>
              </div>
              <div class="btn-agregar">
                <p class="nombre-agregar">🛒 Agregar</p>
              </div>
            </div>
        </div>
      </div>

      <div class="producto-container">
        <div class="descuento-container">
          <p class="descuento">-20%</p>
        </div>
        <div class="img-container">
            <img src="" alt="" width="150px" height="150px">
        </div>
        <div class="info">
          <h2 class="nombre-producto" >Cpu Intel i3 8100</h2>
          <p class="tipo-categoria">Procesadores</p>
            <div class="pb-container flex-space">
              <div class="precios flex-space ">
                <p class="precio-anterior">$1.290</p>
                <p class="precio-actual">$990</p>
              </div>
              <div class="btn-agregar">
                <p class="nombre-agregar">🛒 Agregar</p>
              </div>
            </div>
        </div>
      </div>

      <div class="producto-container">
        <div class="descuento-container">
          <p class="descuento">-20%</p>
        </div>
        <div class="img-container">
            <img src="" alt="" width="150px" height="150px">
        </div>
        <div class="info">
          <h2 class="nombre-producto" >Cpu Intel i3 8100</h2>
          <p class="tipo-categoria">Procesadores</p>
            <div class="pb-container flex-space">
              <div class="precios flex-space ">
                <p class="precio-anterior">$1.290</p>
                <p class="precio-actual">$990</p>
              </div>
              <div class="btn-agregar">
                <p class="nombre-agregar">🛒 Agregar</p>
              </div>
            </div>
        </div>
      </div>

    </div>
      
    </div>
    <footer class="footer">
      <div class="container flex-space f-start gap-column">
      <div class="icons">
          <p class="logo logo-f">PC Labs</p>
          
          <div class="social-media">
            <p>F</p>
            <P>T</P>
            <P>G</P>
          </div>

        </div>

        <div class="n-t-container f-column-l">
          <h3 class="f-title" >Nuestra tienda</h3>
          <a class="f-link" href="#">Trabaja con nosotros</a>
          <a class="f-link" href="#">Sobre nosotros</a>
          <a class="f-link" href="#">Contáctanos</a>
          <a class="f-link" href="#">Promociones</a>
          <a class="f-link" href="#">Admnistradores</a>
        </div>

        <div class="s-c-container f-column-l">
          <h3 class="f-title" >Servicio al Cliente</h3>
          <a class="f-link" href="#">Términos y condiciones</a>
          <a class="f-link" href="#">Cambios y devoluciones</a>
          <a class="f-link" href="#">Centro de ayuda</a>
        </div>

        <div class="c-container f-column-l">
          <h3 class="f-title" >Categorías</h3>
          <a class="f-link" href="#">Procesadores</a>
          <a class="f-link" href="#">Tarjetas gráficas</a>
          <a class="f-link" href="#">Memorias ram</a>
          <a class="f-link" href="#">Fuentes de poder</a>
          <a class="f-link" href="#">Gabinetes</a>
        </div>

        <div class="s-container f-column-l">
          <h3 class="f-title" >Suscríbete</h3>
          <p class="f-link"> Suscríbete a nuestro newletter, para que seas el primero en conocer nuestras nuevas ofertas y promociones</p>
          <div class="s-btn-container">  
            <input class="input-s" type="email" name="email" id="email">
            <div class="btn-suscribirse">
              <p>Suscribirse</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

</body>
</html>