<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
   <link rel="stylesheet" type="text/css" href="gulp_sass/build/css/app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Play&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" href="../static/gulp_sass/build/css/app.css"> -->
</head>
<body>
  <header class="header">
      <div class="container flex-space">
      <a class="logo c-pointer" href="home">PC Labs</a>
      
        <form action="#" class="barra-container">
          <input class="barra-busqueda" type="text" name="busqueda" id="busqueda" placeholder="Buscar Productos">
          <input type="submit" value="🔍" class="lupa">
        </form>
      <div class="acciones flex-space">
        <div class="carro-container flex-space">
          <img th:src="@{/img/icons/carrito.svg}" alt="icon_carrito" width="18px">
          <a class="h-logo mg-l-1" href="carrito">Carro</a>
        </div>

        <div class="login-container dropdown">
            <div class="dropdown-btn flex-space">
              <img th:src="@{/img/icons/login.svg}" alt="icon_carrito" width="18px">
              <p class="h-logo mg-l-1" th:text="${nombre_administrador}"></p>
              <div class="triangle"></div>
          </div>
          <div class="dropdown-content">
            <a href="login">Cliente</a>
            <a href="login_admin">Administrador</a>
            <form th:if="${!#strings.equals(nombre_administrador, 'Login')}"  th:action="@{/cerrar_sesionAdministrador}" class="cerrar_sesion" method="post">
              <input class="form-control c-pointer btn-reset underline" type="submit" value="Cerrar Sesión">
            </form>
          </div>
        </div>
      </div>

    </div>
    </header>
    <nav class="nav">
      <div class="container">
        <a href="categoria/procesadores" class="nav-link" >Procesadores</a>
        <a href="categoria/tarjetas_graficas" class="nav-link" >Tarjetas Graficas</a>
        <a href="categoria/memorias_ram" class="nav-link" >Memorias Ram</a>
        <a href="categoria/placas_madre" class="nav-link" >Placas Madre</a>
        <a href="categoria/fuentes_poder" class="nav-link" >Fuentes de Poder</a>
        <a href="categoria/gabinetes" class="nav-link" >Gabinetes</a>
    </div>
    </nav>

    <div class="container">

      <h1 class="title mg-t-4">Detalle orden de compra</h1>

      <table class="tabla-detalle">
        <tr>
          <td class="head-info-orden" id="info" colspan="2">Información de la orden de compra</td>
          <td class="w-0"></td>
        </tr>
        <tr>
          <th class="head-row" id="n-orden">Numero de orden:</th>
          <td class="info-row">627382</td>
        </tr>
        <tr>
          <th class="head-row" id="f-emision">Fecha de emisión:</hd>
          <td class="info-row">22-09-2021 16:40</td>
        </tr>
        <tr>
          <th class="head-row" id="nombres">Nombres:</th>
          <td class="info-row">Juan Diego</td>
        </tr>
        <tr>
          <th class="head-row" id="apellidos">Apellidos:</th>
          <td class="info-row">Perez Diaz</td>
        </tr>
        <tr>
          <th class="head-row" id="rut">Rut:</th>
          <td class="info-row">17.234.123-4</td>
        </tr>
      </table>

      <table class="tabla-detalle">
        <tr>
          <td class="head-info-orden" id="info" colspan="2">Información de entrega</td>
          <td class="w-0"></td>
        </tr>
        <tr>
          <th class="head-row" id="despacho">Despacho:</th>
          <td class="info-row">Retiro en tienda</td>
        </tr>
        <tr>
          <th class="head-row" id="region">Región:</hd>
          <td class="info-row">--------</td>
        </tr>
        <tr>
          <th class="head-row" id="ciudad">Ciudad:</th>
          <td class="info-row">--------</td>
        </tr>
        <tr>
          <th class="head-row" id="direccion">Dirección:</th>
          <td class="info-row">Alemania 432</td>
        </tr>
        <tr>
          <th class="head-row" id="telefono">Teléfono:</th>
          <td class="info-row">972832734</td>
        </tr>
      </table>


      <p class="mg-2">Listado de productos</p>
      <table class="tabla-listado">
        <tr>
          <th class="head-listado w-s" id="id">ID</th>
          <th class="head-listado w-l" id="col-producto">Producto</th>
          <th class="head-listado w-s" id="col-cantidad">Cant.</th>
          <th class="head-listado w-m" id="col-valor">Valor</th>
        </tr>
        <tr>
          <td class="info-row">1</td>
          <td class="info-row">NZXT S340 dark + blue</td>
          <td class="info-row">1</td>
          <td class="info-row">$19.990</td>
        </tr>
        <tr>
          <td class="info-row">1</td>
          <td class="info-row">Cpu intel i5 10400</td>
          <td class="info-row">1</td>
          <td class="info-row">$119.990</td>
        </tr>
        <tfoot>
          <tr class="t-foot">
            <td colspan="1">Total:</td>
            <td></td>
            <td></td>
            <td>$138.990</td>
          </tr>
        </tfoot>
      </table>


    </div>
 
      
    <footer class="footer">
      <div class="container flex-space f-start gap-column">
      <div class="icons">
          <p class="logo logo-f c-pointer">PC Labs</p>

        <div class="social-media">
          <div class="fb-container c-pointer">
            <img th:src="@{/img/icon_fb.svg}" alt="icon_fb" width="24px">
          </div>
          <div class="tw-container c-pointer">
            <img th:src="@{/img/icon_tw.svg}" alt="icon_tw" width="24px">

          </div>
          <div class="ig-container c-pointer">
            <img th:src="@{/img/icon_ig.svg}" alt="icon_ig" width="24px">
          </div>
        </div>

        </div>

        <div class="n-t-container f-column-l">
          <h3 class="f-title" >Nuestra tienda</h3>
          <a class="f-link underline" href="#">Trabaja con nosotros</a>
          <a class="f-link underline" href="#">Sobre nosotros</a>
          <a class="f-link underline" href="#">Contáctanos</a>
          <a class="f-link underline" href="#">Promociones</a>
          <a class="f-link underline" href="#">Admnistradores</a>
        </div>

        
        <div class="s-c-container f-column-l">
          <h3 class="f-title" >Servicio al Cliente</h3>
          <a class="f-link underline" href="#">Términos y condiciones</a>
          <a class="f-link underline" href="#">Cambios y devoluciones</a>
          <a class="f-link underline" href="#">Centro de ayuda</a>
        </div>

        <div class="c-container f-column-l">
          <h3 class="f-title" >Categorías</h3>
          <a class="f-link underline" href="categoria/procesadores">Procesadores</a>
          <a class="f-link underline" href="categoria/tarjetas_graficas">Tarjetas gráficas</a>
          <a class="f-link underline" href="categoria/memorias_ram">Memorias ram</a>
          <a class="f-link underline" href="categoria/fuentes_poder">Fuentes de poder</a>
          <a class="f-link underline" href="categoria/gabinetes">Gabinetes</a>
        </div>

        <div class="s-container f-column-l">
          <h3 class="f-title" >Suscríbete</h3>
          <p class="f-link"> Suscríbete a nuestro newletter, para que seas el primero en conocer nuestras nuevas ofertas y promociones</p>
          <div class="s-btn-container c-pointer">  
            <input class="input-s" type="email" name="email" id="email">
            <div class="btn-suscribirse">
              <p>Suscribirse</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <p class="copyright">Copyright © 2021 PC Labs. Todos los Derechos Reservados.</p>
      </div>
    </footer>
</body>
</html>