.title{
    margin-bottom: 4rem;
    font-weight: $regular;
}



.grid-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
}

.producto-container{
    border: 1px solid $black;
    width: 27rem;
    height: 35rem;
    .descuento-container{
        background-color: $lightBlue;
        width: 6rem;
        .descuento{
            color: $white;
            text-align: center;
        }
    }
    .img-container{
        margin: 4rem 0;
        display: flex;
        justify-content: center;
    }
    .info{
        padding: 0 1rem;
        .nombre-producto{
            text-transform: uppercase;
            margin-bottom: .5rem;
            font-weight: $light;
            font-size: $fontSize;
        }
        .tipo-categoria{
            font-weight: $bold;
        }
        .pb-container{
            margin-top: .5rem;
            .precios{
                column-gap: 1rem;
                .precio-anterior{
                    color: $priceBefore;
                    text-decoration: line-through;
                    font-weight: $bold;
                }
                .precio-actual{
                    color: $priceNow;
                    font-weight: $bold;
                }
            }
            .btn-agregar{
                background-color: $lightBlue;
                padding:  .8rem 1rem;
                border-radius: 2rem;
                .nombre-agregar{
                    font-size: 1.4rem;
                    color: $white;
                }
            }
        }
    }
}