.reg-background{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f-registro{
    h1{
        margin-bottom: 2rem;
    }
}